*, a, ::after, ::before{
    text-decoration: none;
}
.resto-head, .plat-head{
    margin-bottom: 25px;
}
.restoinfos, .platinfos{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.resto-head img, .plat-head img{
    width: 100%;
    height: 300px;
    position: absolute;
    left: 0;
    right: 0;
    margin-bottom: 25px;
    object-fit: cover;
}

.resto-infos{
    margin-right: 5px;
}

.plat-head{
    background: url("../img/plats/plat1.jpg");
}
.resto-head h1{
    color: #D2B48C;
}
.resto-head p{
    color: #FFF;
}

.infos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
}
.info-item{
    display: flex;
    justify-content: space-around;
    margin: 3px;
}

.info-item p{
    font-size: 14pt;
}

.infos a{
    text-decoration: underline;
    font-size: 22pt;
}


.plats-list{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.plat{
    border:solid 1px #D2B48C;
    border-radius: 15px;
    margin-right: 25px;
    cursor: pointer;
}
.plat img{
    width: 272px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}
.plat-card{
    width: 273px;
}
.plat button{
    padding: 10px;
}
.plat-description, .description{
    position: absolute;
    top: 400px;
}

.restoMap{
    width: 100%;
    margin: 25px;
    margin-left: 0;
    margin-right: 0;
}

#map {
    width: 100%;
    height: 400px;
    background: #d6d6d6;
}

@media screen and (max-width: 1260px) {
    .plat img{
        width: 235px;
        height: 120px;
    }
  }
